__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.venv/
*.spec
build/
dist/
*.exe
.env
*.db
*.db-shm
*.db-wal
*.db-journal
.DS_Store
.atl/
.pytest_cache/
logs/
data/
*.zip
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lzma
*.tar.lz
*.tar.lz4
*.tar.zstd
*.tar.z
*.tar.zst